# 全てを無視
*

# ディレクトリを許可
!/src/
!/bin/

# ルートファイルを許可
!.gitignore
!README.md
!LICENSE
!NOTICE.md
!gemini-extension.json
!AGENTS.md
!Cargo.toml
!Cargo.lock
!dist-workspace.toml

# GitHub Actionsを許可
!/.github/
!/.github/**

# ソースコードを許可
!/src/**

# バイナリ配布用ディレクトリのスクリプトを許可
!/bin/run.js
